body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 102, 102);
}
main{
    max-width: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 20px gray;
    padding: 30px;
}
button{
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px 0px;
}
input{
    margin: 20px;
    color: black;
}