input:invalid + span::after{
    content: "✖";
    color: red;
}

input:valid + span::after{
    content: "✓";
    color: green;
}
body {
    background-color: #ddd;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    overflow-x: hidden;
}

@media (max-width: 600px){
    body{
        width: 95%;
    }
}
header{
    text-align: center;
    color:#555;
    padding: 2px 0px;  
}
footer{
    color:black ;
    text-align: center;
    margin-top: 10px;
    
}
nav {
    text-align: center;
    background-color: #555;
    color: #eee;   
    position: sticky;
    display: inline-block;
    padding: 10px;
    top:0;
    width: 100%;

}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
nav a {
    color: lightgray;
    text-decoration: none;
}
main {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    padding: 2% 4%;
    border: 2px;
    border-top: 0px;
    border-style: solid;
    border-color: lightgray;
}
h2 {
    color: #555;
}
body{
    background-color: lightgray;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: rgb(96, 96, 96);
}
button, input{

    box-sizing: border-box;
    margin: 10px 0px;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    box-sizing: border-box;
}

input:hover{
    box-shadow: 0px 0px 5px gray;
}

fieldset , textarea{
    border: 1px gray;
    border-style: solid;
    border-radius: 10px;
}